[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,scss,css}]
indent_style = space
indent_size = 2

[*.html]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4
